
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
    font-family: 'Lato', sans-serif;
}
* {
  margin: 0;
}


.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 75px;
    background-color: black;
}
.logo{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;


}
.logo-group{
    display: flex;
    margin-right: 41px;
}

.forma{
    display: flex;
    align-items: center;
    margin-right: 880px;
}

.brand{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; 
    background-color: rgba(241, 228, 230, 1)
    

}
.home-img-brand{
  flex: 1;
}
.lable{
  display: flex;
  justify-content: flex-start; 
  gap: 16px;
  flex: 1;
}


.text-drand{
  height: 78px;
}

      
.logo-black-fatty{
  
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    
}
.logo-black{

    display: inline-block;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    
}
 



.logo-orange{
   

    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    color: rgba(241, 109, 127, 1);
    

}
.menu{
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
    
}
.menu-type{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.type-menu img {
  width: 100%; 
  height: auto; 
}
.type-menu {
    width: 100%;
   position: relative;
}
  

.text-menu {
    
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white;
  }
  
.text-menu p {
    font-family: Lato;
    font-size: 16px;
    margin: 0;
    font-size: 24px;
  }
  
.text-menu p span {

    font-family: Lato;
    font-size: 24px;
    color: rgba(241, 109, 127, 1);
  }
.accesories{
    grid-column: span 3;
}

.text-header-menu p {
    margin: 0 auto;
    font-family: Lato;
    font-size: 30px;
    text-align: center;
    font-weight: bold; 
    margin-top: 96px;


  }

.discription p {
    font-family: Lato;
    font-size: 14px;
    text-align: center;
    color: gray;
    margin-top: 6px;
    margin-bottom: 24px; 


  }
.products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin-top: 96px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  gap: 30px;
 
  }

.img-product{
  width: 100%;
}

.product:nth-child(2) .img-product {
    display: flex;
    background-color: rgba(241, 228, 230, 1); 
    width: 360px;
    height: 420px;
    justify-content: center;

  
}
 
  
.title-price{
    
    padding: 24px 16px 24px 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;

}
.title{
    font-family: Lato;
    font-size: 13px;
    text-align: left;

}
.discription-product{
    font-family: Lato;
    font-size: 14px;
    text-align: left;
    color: gray;
    
   

  }
.price{
    font-family: Lato;
    font-size: 16px;
    text-align: left;
    color: rgba(241, 109, 127, 1);

  }
  .button-products {
  
    height: 48px;
    width: 100%; 
    display: flex; 
    justify-content: center; 
    margin-top: 48px; 
  }
  
  .button-products button {

    font-family: Lato;
    font-size: 16px;
    border: 1px solid rgba(241, 109, 127, 1); 
    background-color: white; 
    color: rgba(241, 109, 127, 1); 
    cursor: pointer;
    text-align: center; 
    padding: 14px 39px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px){

   .header{
    height: 74px;
    min-width: 768px;
   }
   .logo{
    min-width: 768px;
   }
   .forma{
    margin-right: 424px;
   }
  .header-button{
    margin-right: 41px;
  }
   .brand{
    min-width: 768px;
   }

   
  .home-img-brand img {
    width: 100%; 
    height: auto; 
  }
  
  .text-drand {
    margin-right: 33px;
  }

  .logo-black-fatty {
    font-size: 36px; 
  }

  .logo-black, .logo-orange {
    font-size: 24px; 
    line-height: 29px;
  }
  .menu{
    max-width: 100%;
    margin: 0 16px;
    margin-top: 65px;
  }
  
  .type-menu {
    width: 100%; 
  }

  
  .accesories img {
    width: 100%; 
    height: auto; 
  }

  .products {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr); 
    margin: 0 16px;
    margin-top: 96px;
  }
 
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .header {
      width: 100%;
      height: 74px;
      
  }

  .logo {
      max-width: 767px;
      margin: 0 16px;
  }

  .forma{
    margin-right: 200px;
  }
  .header-button img {

      width: 100%; 
      height: 23px; 
      object-fit: cover; 
      object-position: left;
      
  }

  .home-img-brand{
      
      display: none;
  }
  .brand{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 375px;
    min-height: 363px;
    
  }
.lable{
    text-align: center;
    width: 100%;
    margin-left: 56px;
    margin-right: 56px;

  } 
  .text-brand{
    margin-right: 56px;
  }
  .logo-black-fatty {
    font-size: 36px; 
  }

  .logo-black, .logo-orange {
    font-size: 20px; 
    line-height: 24px;
  }
  .menu {
      
      margin: 0 16px;
      margin-top: 64px;
     

  }

  .menu-type {
      grid-template-columns: 1fr; 
      gap: 32px;
  }
  .accesories{
    margin-top: 32px;
  }
  .accesories img {
    width: 100%; 
    height: 111px; 
    object-fit: cover; 
    object-position: center; 
    
  }
  .products {
      margin: 0 8px;
      grid-template-columns: 1fr; 
      gap: 16px;
      
  }
  .discription{
    margin-bottom: 64px;
  }
  .product {
      
      max-width: 100%;
      
  }

  .button-products {
      display: flex; 
      justify-content: center; 
      margin-bottom: 85px;
      margin-top: 40px;
  }

  
}
