* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.logo {
    font-family: 'Gilroy-Bold', sans-serif; 
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    padding: 10px; 
    
   
}
.logo-black {
    color: #000000; 
}

.logo-orange {
    color: #F25822; 
}


.menu {

    border-radius: 30px;
    border: 1px;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em; 
    margin: 10px; 
    
}
nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}
nav li{
    padding: 0;
    margin: 0;
}

.menu-item {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: black; 
    text-decoration: none; 
}


.menu-item.orange {
    color: #F25822; 
}


.icon {
    border: 1px solid rgba(0, 0, 0, 1);
    display: inline-block; 
    width: 6px;
    height: 3px;
    border: 1px;

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background: rgba(242, 88, 34, 1);
    cursor: pointer;
    border: none; 
    padding: 10px;
    margin: 7px;
}
.button-text {
    width: 66px;
    height: 15px;
    font-family: Gilroy-SemiBold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1); 
    background: transparent; 
    border: none; 
}
.home-meta {
   /* width: 543px;
   height: 374px; */
   border-radius: 50px;
   margin: 10px;
   
  
}
.title{
    width: 522px;
    height: 222px;
    font-family: Gilroy-Bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(0, 0, 0, 1);
    background: none;
   

}

.marketing-element {
    width: 314px;
    height: 76px;
    border: 1px solid rgba(242, 88, 34, 1);
    border-radius: 100px; 
   
}
.subtitle{
    width: 466px;
    height: 48px;
    font-family: Gilroy-Medium;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(136, 136, 136, 1);

}

.button-meta{
  
    border-radius: 50px;
   

}
.button-video{
    width: 135px;
    height: 30px;
    padding: 5px;
    margin: 5px;

}
.button-video-text{
    color: rgba(170, 170, 170, 1);
    background: none;
    border: none;

}
.icon-button{
    width: 30px;
    height: 30px;
    border: 3px solid rgba(221, 221, 221, 1);
    border-radius: 15px;
    padding: 5px;
    margin: 5px;

}
.icon-play{
    width: 0; 
    height: 0; 
    border-top: 7.5px solid transparent; 
    border-bottom: 7.5px solid transparent; 
    border-left: 15px solid rgba(242, 88, 34, 1);
}

.button-start{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background: rgba(242, 88, 34, 1);
    cursor: pointer;
    border: none; 
    margin-top: 35px;

}

.img-menu{
   
    margin: 20px;

}